**/node_modules/
**/.git
**/.vscode
**/npm-debug.log
**/coverage
**/.env*
**/.editorconfig
**/dist
**/*.pem
Dockerfile
**/.github
**/.dockerignore
**/.tool-version
**/docs
**/test
**/Makefile
**/.trash
/bin/ec2-boot-bench
/cloudformation
